@use "../../../Scss/mixin";
@use "../../../Scss/reset";
@use "../../../Scss/vars";

.section5{
    @include mixin.Flex(column,center,center,70px);
    padding: 86px 100px;
    background-color: vars.$fourth-color;
    &-textbox{
        @include mixin.Flex(column,center,center,22px);
        &__title{
            @include mixin.Heebo(54px,400,130%);
            color: vars.$second-color;
            width: 40%;
            text-align: center;
        }
        &__text{
            @include mixin.Heebo(24px,400,130%);
            color: vars.$second-color;
            width: 75%;
            text-align: center;
        }
    }
    &-container{
        @include mixin.Flex(column,flex-start,flex-start,95px);
        .section5-box{
            @include mixin.Flex(row,center,center,200px);
            &__cont{
                @include mixin.Flex(column,flex-start,flex-start,25px);
                &-text1{
                    @include mixin.Heebo(32px,500,47px);
                    color: vars.$second-color;
                }
                &-text2{
                    @include mixin.Heebo(24px,400,130%);
                    color: vars.$second-color;
                }
                &-text3{
                    @include mixin.Heebo(24px,400,130%);
                    color: vars.$second-color;
                }
                &-btn{
                    @include mixin.Heebo(24px,400,130%);
                    background-color: vars.$first-color;
                    color: vars.$bg-color;
                    padding: 12px 44px;
                    border-radius: 50px;    
                }
            }
        }
    }
}
